    @font-face {
        font-family: Rubik;
        src: url(../fonts/Rubik-VariableFont_wght.ttf);
    }
    @font-face {
        font-family: Rubik-Light;
        src: url(../fonts/Rubik-Light.ttf);
    }
    .attribution {
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }

    body{
        background-color: #0E1323;
    }

    .img{
        width: 75px;
        height: 75px;
        margin-left: 30px;
        margin-top: 30PX;
    }
    .imgBorder{
        border: 3px solid #FFFFFF;
        border-radius: 100px;
    }

    .bgColor{
        background-color: #5747EA;
        width: 255px;
        height: 340px;
        border-radius: 15px;
    }

    .bgColor2{
        background-color: #1C204B;
        z-index: auto;
        width: 255px;
        height: 154px;
        border-radius: 15px;
        margin-top: -16px;
    }

    
    .cardPlace{
        display: grid;
        grid-column: 2 / 5;
        grid-template-columns: repeat(3, 1fr);
    }

    .textColor{
        font-family: Rubik-Light;
        font-size: 35px;
        text-align: center;
        color: #FFFFFF;
        margin-top: -4px;
        margin-bottom: -4;
        margin-right: 76px;
    }
    
    .textColor2{
        font-family: Rubik;
        font-size: 15px;
        text-align: center;
        color: #BBC0FF;
        margin-right: 120px;
        margin-top: 40px;
    }
    
    .dailyColor{
        color: #7078C9;
        padding-top: 30px;
        margin-left: 30px;
    }
    
    .weeklyColor{
        color: #FFFFFF;
        margin-left: 30px;
    }
    
    .monthlyColor{
        color: #7078C9;
        margin-left: 30px;
    }

    .workColor{
        background-color: #FF8B64;
        width: 255px;
        height: 154px;
        border-radius: 15px;
    }

    .workColor2{
        background-color: #1C204B;
        width: 255px;
        height: 154px;
        border-radius: 15px;
    }

    .textColor3{
        font-family: Rubik;
        color: #FFFFFF;
    }